body{
  margin:0;
  padding:0;
  font-size:16px;
}

.header{
  width:1420px;
  background:#000;
  color:#fff;
}

.container{
  width:1420px;
  margin:0 auto;
}

.navigation{
  margin:0 auto;
  width: 1130px;
}

.navigation ul{
  display:table;
}

.navigation li{
  display:table-cell;
  border-bottom:3px solid #000;
}
.navigation li.on{
  border-bottom:3px solid #f00;
}

.navigation li:hover{
  border-bottom:3px solid #d00;
}
.navigation a{
 text-decoration:none;
 color:#fff;
 padding-right:29px;
}

.mainContents{
  padding: 0 40 50 40;
}
.footer{
  position:fixed;
  bottom:0;
  width:1420px;
  background:#000;
  color:#fff;
  padding:10 40 10 40;
}

.cssclear{
  clear:both;
}
