@import url(https://fonts.googleapis.com/css?family=Comfortaa:700,400,300);

body{
  margin:0;
  padding:0;
  font-size:16px;
  font-family: 'Comfortaa', cursive;
  font-weight:normal;
  background:#80ceff;
}

.header{
  position:fixed;
  top:0px;
  width:100%;
  max-width:760px;
  min-width:270px;
  max-height:182px;
  background:#000;
  color:#fff;
  z-index:99999;
  border-radius: 5px;
}

div.title{
  width:97%;
  height:65px;
  color:#56beff;
  font-weight:bold;
  font-size:1.62em;
  padding-left:3%;
  margin:7px 0;
}

.description{
  position:absolute;
  top:0;
  padding-left:168px;
  font-size:0.7em;
}

#logo{
  width:255px;
  height:65px;
  padding:0;
  margin:0;
  background:url(../img/logo.png) no-repeat;
  background-size:contain;
  background-position:center;
}

.container{
  width:100%;
  max-width:760px;
  margin:0 auto;
}

.navigation{
  width:94%;
  padding-left:3%;
}

.navigation ul{
  padding:0;
  margin:0;
  margin-top:-2.5px;
  padding-bottom:2.5px;
  display:table;
}

.navigation li{
  padding-top:3px;
  display:table-cell;
  padding-right:11px;
  float:left;
}

.navigation a{
  color:#80ceff;
  text-decoration:none;
  transition-property: all;
  transition: 0.3s linear;
}
.navigation a.on{
  border-bottom:3px solid #d4ff57;
  color:#56beff;
}

.navigation a:hover{
  border-bottom:3px solid #e4ff94;
  color:#56beff;
}

.mainContents{
  width:94%;
  max-width:714px;
  padding:96px 3% 0 3%;
}

.mainContents h1{
  font-size:1.41em;
  padding-bottom:3px;
  border-bottom:1px solid #000;
}

.mainContents h2{
  font-size:1.19em;
  padding:10px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 5px;
}

.contentBox{
  width:94%;
  padding:0 3%;
}
.contentBox div{
  padding-left:3%;
}

.contentBox p{
  padding-left:3%;
}

.contentBox dl{
  padding-left:3%;
  width:94%;
  overflow:hidden;
}

.contentBox dt{
  width:45%;
  float:left;
  clear:both;
}

.contentBox dd{
  width:45%;
  padding: 0 0 0 50%;
  margin:0;
}

.footer{
  width:100%;
  max-width:760px;
  min-width:270px;
  background:#000;
  color:#56beff;
  padding:10px 0;
  font-size:0.62em;
  border-radius: 5px;
}

.footer p{
  width:94%;
  padding-left:3%;
  margin:0;
}

span.email{
  text-decoration:underline;
}

.cssclear{
  clear:both;
}

/*text decoration*/
strong{
  color:#ff5757;
  font-weight:bold;
  text-decoration:underline;
}

@media screen and ( max-width:751px )
{
  .mainContents{
   padding-top:123px; 
  }
}

@media screen and ( max-width:751px )
{
  .description{
    display:none;
  }
}

@media screen and ( max-width:390px )
{
  .mainContents{
   padding-top:145px; 
  }
}
