.mainContents{
  padding-top:0;
}

.news dl{
}

.news dt{
}

.news dd{
}

ul.sponsors{
  display:table;
  width:90%;
  padding:10% 0 0 0;
  margin:0 auto;
}

.sponsors li{
  display:table-cell;
  padding:0 2.5%;
}

ul.sponsors #osasc{
  width:100%;
  max-width:100px;
  height:80px;
  display:block;
  background:url(img/logo-osa-sc.png) no-repeat;
  background-size:contain;
  background-position:center;
}

ul.sponsors #pc{
  width:100%;
  max-width:100px;
  height:80px;
  display:block;
  background:url(img/logo-pc.png) no-repeat;
  background-size:contain;
  background-position:center;
}

ul.sponsors #jsps{
  width:100%;
  max-width:100px;
  height:80px;
  display:block;
  background:url(img/logo-jsps.png) no-repeat;
  background-size:contain;
  background-position:center;
}

ul.sponsors #spie{
  width:100%;
  max-width:100px;
  height:80px;
  display:block;
  background:url(img/logo-spie.png) no-repeat;
  background-size:contain;
  background-position:center;
}

ul.sponsors #osa{
  width:100%;
  max-width:100px;
  height:80px;
  display:block;
  background:url(img/logo-osa.png) no-repeat;
  background-size:contain;
  background-position:center;
}

/*configuration for bxslider*/
ul.bxslider{
  margin:0;
  padding:0;
}

.bx-pager{
  display:none;
}

.bx-next{
  display:none;
}

.bx-prev{
  display:none;
}

.slider{
  padding-top:89px;
}

@media screen and ( max-width:751px )
{
  .slider{
   padding-top:118px; 
  }
}
@media screen and ( max-width:390px )
{
  .slider{
   padding-top:140px; 
  }
}
