.pane2L{
  width:47%;
  float:left;
  padding:0;
}

.pane2L img{
  width:100%;
}
.pane2R{
  width:47%;
  padding:0;
  float:right;
}

@media screen and (max-width:425px)
{
  .pane2L{
    width:94%;
    clear:both;
  }
  .pane2R{
    width:94%;
    clear:both;
  }
  .pane2R p{
    padding:0;
  }
}
